<%- include("./res/head.ejs") %> 
</head>
<body>
    <%- include("./res/nav.ejs") %> 
    <div class="container">
        <div class="row">
            <div class="col-sm-12 landing-page" style="text-align: center;">
                <img src="/public/images/undraw_page_not_found_su7k.svg" alt="" style="width:80%">
                <h2>The page you're looking for wasn't found.</h2>
                <h4><a href="/">Click here</a> to go back to home.</h4>
            </div>
        </div>
    </div>
</body>