<%-include("./res/head.ejs")%>
</head>
<body>
    <%-include("./res/nav.ejs")%>
    <div class="container" >
        <div class="row">
               
            <div class="col-sm-7 landing-image">
                <img src="/public/images/undraw_about_me_wa29.svg" alt="">
            </div>
            <div class="col-sm-5">
                <h1>About me</h1>
                <h4 style="color: grey;">My name is <b>Ankit Kumar.</b> I am a fullstack developer from India.</h4>
                <h4>
                    You can follow me on:
                </h4>
            </div>
        </div>
    </div>
</body>