* {
    box-sizing: border-box;
    font-family: 'Muli' ;
}
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.navbar-brand {
    font-weight: bolder;
}
.landing-image img {
    width: 100%;
}
.card {
    padding: 10px;
    position: relative;
    z-index: 100;
    background-color: white;
    overflow: hidden;
}

.card-inside {
    padding: 10px;
    box-shadow: 0px 0px 5px lightgrey;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.card-inside:hover {
    transform: translateY(-10px);
}

body > div.container > div > div > div.row > div > div > h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.success {
    border-left: 10px solid lightgreen;
}
.danger {
    border-left: 10px solid rgba(255, 49, 83, 0.884);
}