<%- include("../res/head.ejs") %> 
</head>
<body>
    <%- include("../res/nav.ejs") %> 
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h2>Login</h2>
                <form action="/auth/login" method="POST">
                <div class="form-group">
                    <% 
                    if(error!=""){
                    %>
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Alert!</strong> <%=error%>
                    </div>
                    <%
                    }
                    if(success!="") {
                    %>
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Registeration Successful!</strong> You can now login to continue.
                    </div>
                    <%
                    }
                    %> 
                    
                </div>
                <div class="form-group">
                    <label for="email">Email Address :</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                    <p style="text-align: right;margin-top:5px">Forgot password ? <a href="/auth/reset">Reset</a></p>
                </div>
                <div class="form-group">
                    <input type="hidden" name="_csrf" value=<%=csrfToken%>>
                    <p>Don't have an account ? <a href="/auth/signup">Create one</a></p>
                </div>
                <button type="submit" class="btn btn-info">LOGIN</button>
                </form>
            </div>
            <div class="col-sm-7 landing-image">
                <img src="/public/images/undraw_mobile_login_ikmv .svg" alt="">
            </div>
        </div>
    </div>
</body>